@use "./animaciones.scss";
@use "./responsive.scss";

%formulario {
    display: none;
    flex-direction: column;
    gap: 10px;
    background: #fefefe;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 4vh;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
    width: 60vh;  
    h2{
        margin-bottom: 2vh;
    }
    label{
        width: 100%;
        input {
            padding: 0.4rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 0.8rem;
            background-color: #fff;
            outline: none;
            width: 100%;
            &:focus{
                border-color: #fff;
                box-shadow: 0 0 8px rgba(109, 109, 255, 0.4);   
            }
        }
    }
    button, .btn-label {
        padding: 0.6rem;
        background-color: rgb(172, 172, 172);
        color: #fff;
        border: none;
        border-radius: 2vh;
        cursor: pointer;
        font-size: 0.9rem;
        transition: 0.3s;
        text-align: center;
        &:hover{
            background-color: var(--ColorAzul);
        }
    }
}

%formularioNota{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    width: min(90%, 500px);
    gap: 1rem;
    background-color: var(--ColorFondoOscuro);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
    padding: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 5vh;
}