@media screen and (max-aspect-ratio: 4/5) {
    h1{
        display: none;
    }
    body > header .perfil > label{
        display: flex;
    }

   body > header > .perfil > label > img{
        display: flex;
    }

    body > header .perfil > div {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.775);
        top: 100%;
        height: calc(100vh - var(--header-height));
        width: 90vw;
        right: -90vw;
        flex-direction: column;
        align-items: center;
        transition: right ease 1s, opacity 1s ease;
        opacity: 0;
    }

    body > header .perfil > div p{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 4vh;
        height: unset;
        padding-top: 8vh;
    }

    body > header .perfil > div .imgPerfil{
        height: 30%;
        margin: 2vh;
    }

    body > header .perfil > div ul{
        all: unset;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }
    
    body > header .perfil > label > input:checked{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;
    }

    body > header header .perfil ul li:hover {
        background-color: #ccc;
    }

    .perfil > div ul li{
        width: 100%;
        text-align: center;
        border: 1px solid white;
    }

    .perfil:has(label > input:checked) > div{
        right: 0;
        opacity: 1;
        transition: right ease 1s, opacity ease 0s;
    }

}